<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595722950628-cp4f8c378uualv5p60h470hgtfidlrtv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595722950628-cp4f8c378uualv5p60h470hgtfidlrtv</string>
	<key>API_KEY</key>
	<string>AIzaSyATOEq4doVkG5gZbVgWfLuRWOMgxdiaCpk</string>
	<key>GCM_SENDER_ID</key>
	<string>595722950628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pruebaTecnica</string>
	<key>PROJECT_ID</key>
	<string>pruebatecnica-23d2e</string>
	<key>STORAGE_BUCKET</key>
	<string>pruebatecnica-23d2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595722950628:ios:a8682227c209e05ffdd9f1</string>
</dict>
</plist>